# Dados - Q2

In [1]:
import pandas as pd
import numpy as np
import datetime
import json

## Começando transformando o arquivo DP.txt em um DataFrame para melhor manipulação

In [2]:
txt_file = open('DP.txt')
txt_new = list()
columns = list()
val = list()
dit = dict()

for line in txt_file:
    line=line.rstrip('\n')
    txt_new.append(line)

    # Pegando o nome das colunas
    if 'Demanda' in line:
        first_row = line.split(' ')
        for cada in first_row:
            if cada != '' and cada != '&' and cada != 'df' and cada != 'hf':
                columns.append(cada)
                
    
    if line.startswith('DP'):
        item_list = list()
        for item in line.split(' '):
            if item != '' and item != 'DP':
                item_list.append(item)
                val.append(item_list)

In [3]:
ss = list()
di = list()
hi = list()
m1 = list()
m2 = list()
dem = list()
for cada in val:
    ss.append(cada[0])
    di.append(cada[1])
    hi.append(cada[2])
    m1.append(cada[3])
    m2.append(cada[4])
    dem.append(cada[5])

In [4]:
dit.update({columns[0]:ss, columns[1]:di, columns[2]:hi, columns[3]:m1, columns[5]:dem})

In [5]:
df = pd.DataFrame(dit)
# Adaptando as siglas para os nomes requisitados
df['ss'] = df['ss'].replace('1','seco').replace('2','s').replace('3','ne').replace('4','n').replace('11','imperatriz')
df['Demanda'] = df['Demanda'].apply(lambda x: float(x))

In [6]:
df

              ss di hi  m  Demanda
0           seco  2  0  0  36703.0
1           seco  2  0  0  36703.0
2           seco  2  0  0  36703.0
3           seco  2  0  0  36703.0
4           seco  2  0  0  36703.0
...          ... .. .. ..      ...
1321  imperatriz  2  0  0      0.0
1322  imperatriz  2  0  0      0.0
1323  imperatriz  2  0  0      0.0
1324  imperatriz  2  0  0      0.0
1325  imperatriz  2  0  0      0.0

[1326 rows x 5 columns]

In [7]:
# Avaliando os dias no conjunto de dados. Entende-se então que significam os dias à frente da data inicial.
df['di'].unique()

array(['2', '3', '4'], dtype=object)

## Criando a lista de dicionários que irá construir o JSON

In [8]:
datetime_list = []
pre_json = []

for cada in df.index:
    # Assumida a data inicial como a do exemplo
    issueDate = datetime.datetime(2021,9,25)
    valores_list = list()
    
    dia = df.loc[cada]['di']
    hr = df.loc[cada]['hi']
    
    if df.loc[cada]['m'] != '0':
        min = 30
    else:
        min = 0

    valueDate = issueDate + datetime.timedelta(days=int(dia))
    valueDate += datetime.timedelta(hours=int(hr))
    valueDate += datetime.timedelta(minutes=min)
    datetime_list.append(valueDate)

    valores_list = [{'Demanda':float(df.loc[cada]['Demanda']), 'data':valueDate}]
    pre_json.append({'subsistema': df.loc[cada]['ss'], 'data_partida':issueDate, 'valores':valores_list})

In [9]:
# Apenas para visualização do conjunto de dados
df['datetime']=datetime_list

In [10]:
# Transformando o dataframe em json
json_dict = {'Carga':pre_json}
with open('carga.json', 'w') as outfile:
    json.dump(json_dict, outfile, indent=4, default=str)